In [1]:
print ('Ini adalah materi 5.1')

Ini adalah materi 5.1

In [2]:
print ('Nama saya "GRESIA" dengan NIM "2108541005"')

Nama saya "GRESIA" dengan NIM "2108541005"

In [3]:
print ('Ini Kelas Algoritma')

Ini Kelas Algoritma

In [4]:
print ("Ini Kelas Algoritma")

Ini Kelas Algoritma

In [5]:
print ("I don't understant what are you saying")

I don't understant what are you saying

In [6]:
print ('He is such a "GENIUS"')

He is such a "GENIUS"

In [7]:
mahasiswa = 42 
uang_di_dompet = 10000
print (mahasiswa)
print (uang_di_dompet)
print (mahasiswa*uang_di_dompet)

42
10000
420000

In [8]:
gresia = 1
uang_di_dompet = 100000
print(gresia)
print(uang_di_dompet)
print(gresia+uang_di_dompet)

1
100000
100001

In [9]:
nama_depan = 'Angga'
nama_tengah = ' '
nama_belakang = "Saputra"
print(nama_depan + nama_tengah + nama_belakang)

Angga Saputra

In [10]:
nama_depan = 'Niluh'
nama_tengah = ' Gresia'
nama_belakang = " Aurelia"
print(nama_depan + nama_tengah + nama_belakang)

Niluh Gresia Aurelia

In [11]:
print ('Ini adalah materi 5.2')

Ini adalah materi 5.2

In [12]:
nama = input("Siapakah nama anda ?")
kegiatan = input('Apakah kegiatan anda sekarang, '+ nama +"?")
print ("Semangat "+ kegiatan +" nya yah, "+ nama +"!")

Siapakah nama anda ?Gresia
Apakah kegiatan anda sekarang, Gresia?Belajar
Semangat Belajar  nya yah, Gresia!

In [22]:
nama = input("Siapakah nama anda? ")
kegiatan = input('Apakah kegiatan anda sekarang? ')
print ("Semangat "+ kegiatan +"nya yah "+ nama +"!")

Siapakah nama anda? Gresia
Apakah kegiatan anda sekarang? Belajar
Semangat Belajar nya yah Gresia !

In [17]:
print ('Ini adalah materi 5.3')

Ini adalah materi 5.3

In [23]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input ("Berapakah jumlah uang anda di bank? ")
print ("Total uang anda adalah Rp "+ uang_di_dompet + uang_di_bank)

Berapakah jumlah uang di dompet anda? 2000
Berapakah jumlah uang anda di bank? 3000
Total uang anda adalah Rp 20003000

In [24]:
belanja_di_pasar = input("Berapakah uang yang anda habiskan untuk belanja di pasar? ")
belanja_di_supermarket = input ("Berapakah uang yang anda habiskan untuk belanja di supermarket? ")
print ("Total uang yang anda habiskan adalah Rp "+ belanja_di_pasar + belanja_di_supermarket)

Berapakah uang yang anda habiskan untuk belanja di pasar? 5000
Berapakah uang yang anda habiskan untuk belanja di supermarket? 8000
Total uang yang anda habiskan adalah Rp 50008000

In [26]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input ("Berapakah jumlah uang anda di bank? ")
total_uang = int (uang_di_dompet)+ int(uang_di_bank)
print("Total uang anda adalah Rp "+ str (total_uang))

Berapakah jumlah uang di dompet anda? 40000
Berapakah jumlah uang anda di bank? 340000
Total uang anda adalah Rp 380000

In [27]:
type (uang_di_dompet)

str

In [28]:
type (uang_di_bank)

str

In [29]:
type(total_uang)

int

In [30]:
belanja_di_pasar = input("Berapakah uang yang anda habiskan untuk belanja di pasar? ")
belanja_di_supermarket = input ("Berapakah uang yang anda habiskan untuk belanja di supermarket? ")
total_uang_yang_dihabiskan = int (belanja_di_pasar)+ int(belanja_di_supermarket)
print ("Total uang yang anda habiskan adalah Rp"+ str (total_uang_yang_dihabiskan))

Berapakah uang yang anda habiskan untuk belanja di pasar? 300000
Berapakah uang yang anda habiskan untuk belanja di supermarket? 50000
Total uang yang anda habiskan adalah Rp350000

In [31]:
type (belanja_di_pasar)

str

In [32]:
type (belanja_di_supermarket)

str

In [33]:
type (total_uang_yang_dihabiskan)

int

In [36]:
bilangan_satu = input ("Masukan Bilangan Pertama: ")
bilangan_dua = input ("Masukan Bilangan Kedua: ")
jumlah = float(bilangan_satu)+ float(bilangan_dua)
print("Jumlah Kedua Bilangan Adalah "+ str (jumlah))

Masukan Bilangan Pertama: 20
Masukan Bilangan Kedua: 90
Jumlah Kedua Bilangan Adalah 110.0

In [37]:
bilangan_satu = input ("Masukan Bilangan Pertama: ")
bilangan_dua = input ("Masukan Bilangan Kedua: ")
jumlah = float(bilangan_satu)* float(bilangan_dua)
print("Perkalian Kedua Bilangan Adalah "+ str (jumlah))

Masukan Bilangan Pertama: 4
Masukan Bilangan Kedua: 3
Perkalian Kedua Bilangan Adalah 12.0

In [38]:
print ('Ini adalah materi 5.4')

Ini adalah materi 5.4

In [45]:
nama = "Gresia"
pekerjaan = "Mahasiswa"
institusi = "Universitas Udayana"
print(nama + ' Adalah seorang ' + pekerjaan + ' di ' + institusi + '.')

Gresia Adalah seorang Mahasiswa di Universitas Udayana.

In [1]:
print ('Ini adalah materi 5.5')

Ini adalah materi 5.5

In [52]:
kelas = 'Ini Kelas Algoritma'

In [53]:
print (kelas[0:3])

Ini

In [54]:
print (kelas[0:-1])

Ini Kelas Algoritm

In [55]:
print (kelas[5:-1])

elas Algoritm

In [56]:
print (kelas[2:-1:3])

ieslrm

In [57]:
print (kelas[:-3])

Ini Kelas Algori

In [58]:
print (kelas[1:])

ni Kelas Algoritma

In [59]:
print (kelas[:])

Ini Kelas Algoritma

In [26]:
nama = 'Niluh Gresia Aurelia'

In [33]:
print (nama[0:5])
print (nama[0:-2])
print (nama[5:-1])
print (nama[2:-1:3])

Niluh
Niluh Gresia Aurel
 Gresia Aureli
l eaul

In [11]:
print ('Ini adalah materi 5.6')

Ini adalah materi 5.6

In [12]:
judul = 'Bali Surga Dunia'

In [13]:
print(len(judul))

16

In [14]:
judul.upper()

'BALI SURGA DUNIA'

In [15]:
judul.lower()

'bali surga dunia'

In [16]:
judul.find("surga")

-1

In [17]:
judul.find ('Surga')

5

In [18]:
judul.find('bali')

-1

In [19]:
judul.replace('Bali', 'Indonesia')

'Indonesia Surga Dunia'

In [20]:
judul.replace('bali', 'Indonesia')

'Bali Surga Dunia'

In [21]:
print('Bali'in judul)

True

In [22]:
print('bali'in judul)

False

In [16]:
judul = 'Gresia Prodi Matematika'

In [17]:
print(len(judul))

23

In [24]:
print (judul.upper())
print (judul.lower())
print (judul.find("Gresia"))
print (judul.find ('gresia'))
print (judul.replace('Matematika', 'Kimia'))
print (judul.replace('matematika', 'Fisika'))
print ('Gresia Prodi Matematika'in judul)
print ('Gresia Prodi matematika'in judul)

GRESIA PRODI MATEMATIKA
gresia prodi matematika
0
-1
Gresia Prodi Kimia
Gresia Prodi Matematika
True
False

In [23]:
print ('Ini adalah materi 5.7')

Ini adalah materi 5.7

In [24]:
print (2+3)
print (2-3)
print(2*3)
print(7/3)
print(7//3)
print(7%3)
print(2**3)
x=3
x+=1
print(x)
x-=2
print(x)
x*=3
print(x)

5
-1
6
2.3333333333333335
2
1
8
4
2
6

In [15]:
x = 2+3
print (x)
x = 30*5
print (x)

5
150

In [25]:
print ('Ini adalah materi 5.8')

Ini adalah materi 5.8

In [27]:
x = 3>2
print (x)
x = 2<3
print (x)
x = 3 >= 2
print (x)
x = 2 <= 3
print (x)
x = 3 == 3
print (x)
x = 3 != 4
print (x)

True
True
True
True
True
True

In [28]:
x = 2>3
print (x)
x = 3<2
print (x)
x = 2 >= 3
print (x)
x = 3 <= 2
print (x) 
x = 3 == 4
print (x)
x = 3 != 3 
print (x)

False
False
False
False
False
False

In [13]:
x = 3>2
print (x)
x = 3<1
print (x)

True
False

In [29]:
print ('Ini adalah materi 5.9')

Ini adalah materi 5.9

In [30]:
buah_manggis = 10 
buah_mangga = 15 
print (buah_manggis > 8 and buah_mangga < 20)

True

In [31]:
print (buah_manggis < 8 or buah_mangga < 20)

True

In [32]:
print (buah_manggis < 8 or buah_mangga > 20)

False

In [33]:
print (not(buah_manggis < 8 or buah_mangga > 20))

True

In [4]:
print ('Ini adalah materi 5.10')

Ini adalah materi 5.10

In [35]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print ("Anda mendapatkan nilai A")
    print ("Bagus sekali, selamat! ")
if nilai < 80 and nilai >= 70:
    print ("Anda mendapatkan nilai B")
    print ("Tingkatkan prestasimu! ")
if nilai >= 60 and nilai < 70:
    print ("Anda mendapatkan nilai C")
    print ("Lain kali musti lebih baik ")
if nilai >= 50 and nilai < 60:
    print ("Anda mendapatkan nilai D")
    print ("Ulang lagi tahun depan")
if nilai < 50:
    print ("Anda mendapatkan nilai E")
    print ("Sampai jumpa tahun depan ")

Nilai anda adalah 56
Anda mendapatkan nilai D
Ulang lagi tahun depan

In [3]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekalu, selamat!")
elif nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
elif nilai >= 60:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik")
elif nilai >= 50: 
    print("Anda mendapatkan nilai D")
    print("Ulangi lagi tahun depan")
else:
    print("Anda mendapatkan nilsi E")
    print("Sampai jumpa tahun depan")

Nilai anda adalah 95
Anda mendapatkan nilai A
Bagus sekalu, selamat!

In [62]:
umur = float(input("Berapa Umur Anda Sekarang ? "))
if umur >= 50:
    print ("Anda sudah tua ")
    print ("Banyaklah beristirahat ")
if umur < 45 and umur >= 26:
    print ("Anda sudah dewasa ")
    print ("Bekerjakeraslah! ")
if umur >= 11 and umur < 25:
    print ("Anda sudah remaja ")
    print ("Perbanyaklah relasi ")
if umur >= 5 and umur < 11:
    print ("Anda masih kanak kanak ")
    print ("Bermainlah sepuasnya ")
if umur < 5:
    print ("Anda masih balita ")
    print ("Nikmatilah masa balita anda ")

Berapa Umur Anda Sekarang ? 18
Anda sudah remaja
Perbanyaklah relasi

In [1]:
tinggi = float(input("Berapakah tinggi anda ? "))
cm_atau_inci = input("Tingginya dalam cm atau inci ? ")

if cm_atau_inci.upper()== 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi anda adalah " + str (tinggi) + " Inci")
elif cm_atau_inci.upper()== 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi anda adalah {tinggi}cm")

Berapakah tinggi anda ? 155
Tingginya dalam cm atau inci ? Cm
Tinggi anda adalah 61.023655000000005 Inci

In [5]:
print ('Ini adalah materi 5.11')

Ini adalah materi 5.11

In [6]:
a = 0
while a < 5:
    print("Angka " + str(a)+" masih dibawah 5")
    a += 1

Angka 0 masih dibawah 5
Angka 1 masih dibawah 5
Angka 2 masih dibawah 5
Angka 3 masih dibawah 5
Angka 4 masih dibawah 5

In [7]:
a = 0 
while a < 5:
    print(a * '*')
    a += 1

*
**
***
****

In [8]:
a = 0 
while a < 10:
    print(a * '+')
    a += 1

+
++
+++
++++
+++++
++++++
+++++++
++++++++
+++++++++

In [11]:
print ('Sekian dan Terima Kasih')

Sekian dan Terima Kasih