In [1]:
print("Nama : Niluh Gresia Aurelia")
print("NIM : 2108541005")

Nama : Niluh Gresia Aurelia
NIM : 2108541005

##### Ini 5.12 tentang List di Python

In [2]:
buah = ['mangga', 'pisang', 'rambutan', 'durian']
print(buah)
print(buah[0])
print(buah[2])
print(buah[-1])
print(buah[-2])
print(buah[0:3])
# tidak mengubah list
print(buah)

['mangga', 'pisang', 'rambutan', 'durian']
mangga
rambutan
durian
rambutan
['mangga', 'pisang', 'rambutan']
['mangga', 'pisang', 'rambutan', 'durian']

In [3]:
buah[0]= 'salak'
print(buah)

['salak', 'pisang', 'rambutan', 'durian']

##### Contoh Lainnya

In [4]:
nama = ['gresia', 'viora', 'damai', 'jheven']
print(nama)
print(nama[0])
print(nama[3])
print(nama[-2])
print(nama[-3])
print(nama[0:2])
# tidak mengubah list
print(buah)

['gresia', 'viora', 'damai', 'jheven']
gresia
jheven
damai
viora
['gresia', 'viora']
['salak', 'pisang', 'rambutan', 'durian']

In [5]:
nama[0]='gresia'
print(nama)

['gresia', 'viora', 'damai', 'jheven']

In [6]:
nama = ['gresia', 'viora', 'damai', 'jheven']
print(nama)
# mengubah list
print(nama)

['gresia', 'viora', 'damai', 'jheven']
['gresia', 'viora', 'damai', 'jheven']

#### Ini 5.13 tentang Metoda List

In [7]:
nama = ['Made', 'Eka', 'Dwi']
nama.append('Sari')
print(nama)

nama.insert(0,'Dewi')
print (nama)

nama.remove('Eka')
print (nama)

print('Eka'in nama)
print('Dewi'in nama)

print(len(nama))

['Made', 'Eka', 'Dwi', 'Sari']
['Dewi', 'Made', 'Eka', 'Dwi', 'Sari']
['Dewi', 'Made', 'Dwi', 'Sari']
False
True
4

##### Contoh Lainnya

In [8]:
kota = ['Klungkung', 'Gianyar', 'Badung','Denpasar']
kota.append('Jembrana')
print(kota)

kota.insert(0,'Buleleng')
print (kota)

kota.remove('Gianyar')
print (kota)

print('Kelungkung'in kota)
print('Klungkung'in kota)

print(len(kota))

['Klungkung', 'Gianyar', 'Badung', 'Denpasar', 'Jembrana']
['Buleleng', 'Klungkung', 'Gianyar', 'Badung', 'Denpasar', 'Jembrana']
['Buleleng', 'Klungkung', 'Badung', 'Denpasar', 'Jembrana']
False
True
5

#### Ini 5.14 tentang For Loop

In [9]:
buah = ['Manggis', 'Durian', 'Salak', 'Jeruk']
for jenis in buah: 
    print(jenis)

Manggis
Durian
Salak
Jeruk

In [10]:
i = 0 
while i < len(buah):
    print(buah[i])
    i+=1

Manggis
Durian
Salak
Jeruk

##### Contoh Lainnya

In [11]:
Indonesia = ['Bali', 'Jawa Timur', 'Sulawesi Selatan', 'Sulawesi Tengah']
for provinsi in Indonesia: 
    print(provinsi)

Bali
Jawa Timur
Sulawesi Selatan
Sulawesi Tengah

In [12]:
i = 1 
while i < len(Indonesia):
    print(Indonesia[i])
    i+=2

Jawa Timur
Sulawesi Tengah

#### Ini 5.15 tentang Fungsi Range

In [13]:
angka = range(6)
print(angka)

range(0, 6)

In [14]:
for isi in angka:
    print(isi)

0
1
2
3
4
5

In [15]:
for isi in range(5,10):
    print (isi)

5
6
7
8
9

In [16]:
for isi in range (0,10,2):
    print (isi)

0
2
4
6
8

##### Contoh soal : Buatlah program untuk mencari nilai terbesar didalam suatu list

In [17]:
data = [1,2,3,4,5,4,3,2,1]
terbesar = data[0]
for i in range(len(data)):
    if data[i]>terbesar :
        terbesar = data [i]
print(terbesar)

5

In [18]:
data = [1,2,3,4,5,4,3,2,1]
terbesar = data[0]
for angka in data: 
    if angka > terbesar :
        terbesar = angka 
print(terbesar)

5

##### Contoh soal : Buatlah program untuk membuat anggota list menjadi unik dengan kata lain tidak ada anggota list yang kembar

In [19]:
angka = [1,2,3,4,5,6,3,4,5,7,8,7]
angka_unik = []
for anggota in angka:
    if anggota not in angka_unik:
        angka_unik.append(anggota)
print(angka_unik)

[1, 2, 3, 4, 5, 6, 7, 8]

##### Contoh Lainnya

In [20]:
data = [0,-3,14,17,3,2,1,-10]
terkecil = data[0]
for angka in data:
    if angka < terkecil:
        terkecil = angka 
print(terkecil)

-10

In [21]:
data = [0,-3,14,17,3,2,1,-10]
terbesar = data[0]
for angka in data:
    if angka > terbesar:
        terbesar = angka
print(terbesar)

17

In [22]:
angka = [7,10,9,4,3,2,7,4,1,2]
angka_unik = [1]
for anggota in angka:
    if anggota not in angka_unik:
        angka_unik.append(anggota)
print(angka_unik)

[1, 7, 10, 9, 4, 3, 2]

#### Ini 5.16 tentang List 2 Dimensi

In [23]:
matrik = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
]
print(matrik)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [24]:
matrik[0]

[1, 2, 3, 4]

In [25]:
matrik[3]

[13, 14, 15, 16]

In [26]:
matrik[1][2]

7

In [27]:
matrik[1][2]=100
print(matrik[1][2])

100

In [28]:
matrik

[[1, 2, 3, 4], [5, 6, 100, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [29]:
matrik = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
]
for baris in matrik:
    print(baris)
    for kolom in baris:
        print(kolom)

[1, 2, 3, 4]
1
2
3
4
[5, 6, 7, 8]
5
6
7
8
[9, 10, 11, 12]
9
10
11
12
[13, 14, 15, 16]
13
14
15
16

##### Contoh Lainnya

In [30]:
nama = [
    ['Gresia'],
    ['Aurelia'],
    ['Viora'],
    ['Lestari']
]
print(nama)

[['Gresia'], ['Aurelia'], ['Viora'], ['Lestari']]

In [31]:
nama[0]

['Gresia']

In [32]:
nama[3]

['Lestari']

In [33]:
nama

[['Gresia'], ['Aurelia'], ['Viora'], ['Lestari']]

In [34]:
for kolom in nama:
    print(kolom)
    for baris in kolom:
        print(baris)

['Gresia']
Gresia
['Aurelia']
Aurelia
['Viora']
Viora
['Lestari']
Lestari

In [35]:
matrik = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
]
for kolom in matrik:
    print(kolom)
    for baris in kolom:
        print(baris)

[1, 2, 3, 4]
1
2
3
4
[5, 6, 7, 8]
5
6
7
8
[9, 10, 11, 12]
9
10
11
12
[13, 14, 15, 16]
13
14
15
16

#### Ini 5.17 tentang Tuples

In [36]:
angka = [0,1,1,3,4,5]
print(angka[0])
print(angka[0:3])

0
[0, 1, 1]

In [37]:
for isi in angka[0:3]:
    print(isi)

0
1
1

In [38]:
angka[0]=10

In [39]:
angka.append(10)

In [40]:
print (angka.append(10))

None

In [41]:
angka.remove(5)

In [42]:
angka.count(1)

2

In [43]:
angka.index(3)

3

##### Contoh Lainya

In [44]:
nama = ['niluh','gresia','aurelia','damai','viora']
print(nama[0])
print(nama[0:3])

niluh
['niluh', 'gresia', 'aurelia']

In [45]:
for isi in nama[0:3]:
    print(isi)

niluh
gresia
aurelia

#### Ini 5.18 tentang Dictionaries

In [46]:
data_orang = {
    "nama" : "Ketut Dogler",
    "umur" : 12,
    "apakah_singel" : False 
}

In [47]:
print(data_orang['nama'])

Ketut Dogler

In [48]:
print(data_orang['Nama'])

KeyError: 'Nama'

##### Yang diatas error karena 'N' tidak ada pada data_orang. Namun yang ada adalah 'n' , maka hal tersebut membuat error, namun dapat diperbaiki dengan hal yang dibawah.

In [49]:
data_orang = {
    "Nama" : "Ketut Dogler",
    "umur" : 12,
    "apakah_singel" : False 
}   
print(data_orang['Nama'])

Ketut Dogler

In [50]:
print(data_orang.get('nama'))

None

In [51]:
print(data_orang.get('Nama'))

Ketut Dogler

In [52]:
print(data_orang.get('tanggal_lahir'))

None

In [53]:
print(data_orang.get('tanggal_lahir','2-2-2010'))

2-2-2010

In [54]:
print(data_orang)

{'Nama': 'Ketut Dogler', 'umur': 12, 'apakah_singel': False}

In [55]:
data_orang = {
    "tanggal_lahir" : "2-2-2010"
}
print(data_orang['tanggal_lahir'])

2-2-2010

In [56]:
data_orang['HP'] = '08123456789'

In [57]:
print(data_orang["HP"])

08123456789

In [58]:
print(data_orang)

{'tanggal_lahir': '2-2-2010', 'HP': '08123456789'}

##### Contoh soal : Buatlah program untuk merubah nomor HP yang tadinya berupa angka menjadi sebutan bilangan tersebut.

In [59]:
angka = {
    "0" : "nol",
    "1" : "satu",
    "2" : "dua",
    "3" : "tiga",
    "4" : "empat",
    "5" : "lima",
    "6" : "enam",
    "7" : "tujuh",
    "8" : "delapan",
    "9" : "sembilan"
}

In [60]:
nomor_HP = input("Masukan nomor HP anda ")
nomor_angka = ""
for isi in nomor_HP:
    nomor_angka += angka.get(isi) + " "
print (nomor_angka)

Masukan nomor HP anda 087439556142
nol delapan tujuh empat tiga sembilan lima lima enam satu empat dua

##### Contoh Lainnya

In [61]:
data_orang = {
    "nama" : "Niluh Gresia Aurelia",
    "umur" : 18,
    "kuliah_di" : " Universitas Udayana " 
}

In [62]:
print(data_orang['nama'])

Niluh Gresia Aurelia

In [63]:
print(data_orang.get('nama'))

Niluh Gresia Aurelia

In [64]:
print(data_orang.get('kuliah_di'))

 Universitas Udayana

In [65]:
print(data_orang.get('tanggal_lahir'))

None

In [66]:
print(data_orang)

{'nama': 'Niluh Gresia Aurelia', 'umur': 18, 'kuliah_di': ' Universitas Udayana '}

#### Ini 5.19 tentang Fungsi dalam Pyton

In [67]:
def full_nama(first_name,last_name):
    print(f"Nama Lengkapnya adalah {first_name} {last_name}")

In [68]:
first_name = input("Nama depan anda adalah")
last_name = input("Nama belakang anda adalah")
full_nama(first_name,last_name)

Nama depan anda adalahGresia
Nama belakang anda adalahAurelia
Nama Lengkapnya adalah Gresia Aurelia

##### Contoh Lainnya

In [69]:
def tempat_tinggal(kota,provinsi):
    print(f"Saya tinggal di {kota},{provinsi}")

In [70]:
kota = input("Kamu tinggal diKota mana ? ")
provinsi = input("Kamu tinggal diProvinsi mana ? ")
tempat_tinggal(kota,provinsi)

Kamu tinggal diKota mana ? Klungkung
Kamu tinggal diProvinsi mana ? Bali
Saya tinggal di Klungkung,Bali

In [71]:
def data_diri(nama,nomor):
    print(f"Saya adalah {nama} dengan NIM {nomor}")

In [72]:
nama = input("Siapa nama kamun ? ")
nomor = input ("Berapa NIM kamu ? ") 
data_diri(nama,nomor)

Siapa nama kamun ? Gresia Aurelia
Berapa NIM kamu ? 2108541005
Saya adalah Gresia Aurelia  dengan NIM 2108541005

#### Ini 5.19.1 tentang Tugas Fungsi pada Pyton

In [73]:
def waktu_sampai(jarak,kecepatan):
    waktu = jarak/kecepatan
    print(waktu)

In [74]:
def waktu_tempuh(jarak,kecepatan):
    waktu = jarak/kecepatan
    return (waktu)

In [75]:
waktu_sampai(80,60)

1.3333333333333333

In [76]:
waktu_tempuh (80,60)

1.3333333333333333

In [77]:
a = waktu_sampai(80,60)
print(a)

1.3333333333333333
None

In [78]:
b = waktu_tempuh(80,60)
print(b)

1.3333333333333333

##### Contoh Lainnya

In [79]:
def peluang(banyak_anggota,banyak_anggota_ruang_sampel):
    peluang = banyak_anggota/banyak_anggota_ruang_sampel
    print(peluang)

In [80]:
peluang(50,16)

3.125

In [81]:
peluang(10,20)

0.5

##### Contoh Soal : Buatlah program yang menggunakan fungsi Python untuk menghitung luas segitiga , lingkaran, persegi, dan persegi panjang Selain itu berikan peringatan bagi bidang lain yang tidak termasuk perhitungan.

In [82]:
import numpy as np

In [83]:
def luas_segitiga (alas,tinggi):
    luas = (1/2)*alas*tinggi
    return luas
def luas_lingkaran (jari_jari):
    luas = np.pi*(jari_jari**2)
    return luas
def luas_persegi(sisi):
    luas = sisi**2
    return luas
def luas_persegi_panjang (panjang,lebar):
    luas = panjang*lebar 
    return luas

In [84]:
jenis_bidang = input("Tulis jenis bidangnya ")
if jenis_bidang.upper() == 'SEGITIGA':
    alas = float(input('Berapakah panjang alasnya? '))
    tinggi = float(input('Berapakah tingginya? '))
    luas = luas_segitiga(alas,tinggi)
    print(f"Luas {jenis_bidang} adalah {luas}")
elif jenis_bidang.upper() == 'LINGKARAN':
    jari_jari = float(input('Berapakah panjang jari-jarinya? '))
    luas = luas_lingkaran(jari_jari)
    print(f"Luas {jenis_bidang} adalah {luas}")
elif (jenis_bidang.upper() == 'PERSEGI') or (jenis_bidang.upper() == 'BUJUR SANGKAR'):
    sisi = float(input('Berapakah panjang sisinya? '))
    luas = luas_persegi(sisi)
    print(f"Luas {jenis_bidang} adalah {luas}")
elif jenis_bidang.upper() == 'PERSEGI PANJANG':
    panjang = float(input('Berapakah panjangnya? '))
    lebar = float(input('Berapakah lebarnya? '))
    luas = luas_persegi_panjang(panjang,lebar)
    print(f"Luas {jenis_bidang} adalah {luas}")
else : 
    print(f"Maaf bidang {jenis_bidang} yang anda masukkan tidak ada.")
    print("pilihan cuma SEGITIGA, LINGKARAN, PERSEGI dan PERSEGI PANJANG.")
    print('Terimakasih')

Tulis jenis bidangnya Persegi
Berapakah panjang sisinya? 5
Luas Persegi adalah 25.0

In [85]:
jenis_bidang = input("Tulis jenis bidangnya ")
if jenis_bidang.upper() == 'SEGITIGA':
    alas = float(input('Berapakah panjang alasnya? '))
    tinggi = float(input('Berapakah tingginya? '))
    luas = luas_segitiga(alas,tinggi)
    print(f"Luas {jenis_bidang} adalah {luas}")
elif jenis_bidang.upper() == 'LINGKARAN':
    jari_jari = float(input('Berapakah panjang jari-jarinya? '))
    luas = luas_lingkaran(jari_jari)
    print(f"Luas {jenis_bidang} adalah {luas}")
elif (jenis_bidang.upper() == 'PERSEGI') or (jenis_bidang.upper() == 'BUJUR SANGKAR'):
    sisi = float(input('Berapakah panjang sisinya? '))
    luas = luas_persegi(sisi)
    print(f"Luas {jenis_bidang} adalah {luas}")
elif jenis_bidang.upper() == 'PERSEGI PANJANG':
    panjang = float(input('Berapakah panjangnya? '))
    lebar = float(input('Berapakah lebarnya? '))
    luas = luas_persegi_panjang(panjang,lebar)
    print(f"Luas {jenis_bidang} adalah {luas}")
else : 
    print(f"Maaf bidang {jenis_bidang} yang anda masukkan tidak ada.")
    print("pilihan cuma SEGITIGA, LINGKARAN, PERSEGI dan PERSEGI PANJANG.")
    print('Terimakasih')

Tulis jenis bidangnya Bola
Maaf bidang Bola yang anda masukkan tidak ada.
pilihan cuma SEGITIGA, LINGKARAN, PERSEGI dan PERSEGI PANJANG.
Terimakasih

### Sekian dan Terima Kasih